/* **************************** */
/* IMPORTAR PARCIALES PARA COMPILAR */
/* **************************** */
/* **************************** */
/* FUNCTIONS */
/* **************************** */
/* **************************** */
/* VARIABLES */
/* **************************** */
/* **************************** */
/* TIPOGRAFIAS */
/* **************************** */
.main {
  font-family: Arial;
  color: #D9C6BA;
}

.main__titulo {
  font-size: 4rem;
  font-family: 'Rouge Script', cursive;
  font-weight: 100;
}

.main__subtitulo {
  font-size: 1.125rem;
  margin-bottom: 50px;
}

/* **************************** */
/* MIXINS */
/* **************************** */
/* **************************** */
/* LAYOUTS */
/* **************************** */
body {
  background-image: radial-gradient(circle, #415d5f, #334b4e, #253a3d, #18292d, #0b1a1d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.main {
  height: 50vh;
  text-align: center;
}

.footer {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/img/desktop/cestanavidad.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* **************************** */
/* BOTONES */
/* **************************** */
.btnEnviar {
  background-color: #F24B6A;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 0 1rem;
  cursor: pointer;
}

/* **************************** */
/* LINKS */
/* **************************** */
/* **************************** */
/* GRIDS */
/* **************************** */
.main__formulario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto auto;
      grid-template-columns: auto 1fr auto auto;
  -ms-grid-rows: 0px (40px)[3] (auto)[2] 30px;
      grid-template-rows: 0px repeat(3, 40px) repeat(2, auto) 30px;
  gap: 1rem;
}

.formulario__nombre {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.formulario__inputNombre {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.formulario__email {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.formulario__inputEmail {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.formulario__localidad {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.formulario__inputLocalidad {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.formulario__tituloEncuesta {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.formulario__corchete {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: 1/span-1;
  font-size: 24.5625rem;
  font-family: "Rouge Script";
  line-height: 0;
  font-weight: 100;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.formulario__enviar {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

#encuesta {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* **************************** */
/* FORMULARIOS */
/* **************************** */
.formulario__inputNombre {
  padding-left: 1rem;
}

.formulario__inputNombre::-webkit-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputNombre:-ms-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputNombre::-ms-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputNombre::placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputEmail {
  padding-left: 1rem;
}

.formulario__inputEmail::-webkit-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputEmail:-ms-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputEmail::-ms-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputEmail::placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputLocalidad {
  padding-left: 1rem;
}

.formulario__inputLocalidad::-webkit-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputLocalidad:-ms-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputLocalidad::-ms-input-placeholder {
  color: #fcdae0;
  font-style: italic;
}

.formulario__inputLocalidad::placeholder {
  color: #fcdae0;
  font-style: italic;
}
